<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @sponsor.place %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @sponsor.blog %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
