<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">/</link>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">/</link>
<div class="container">
  <div class="omb_login">
    <h3 class="omb_authTitle">
      Login or
      <%= link_to "Sign up", new_user_registration_path %>
    </h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row omb_row-sm-offset-3 omb_loginOr">
        <div class="col-xs-12 col-sm-6">
          <hr class="omb_hrOr"/>
          <span class="omb_spanOr">or</span>
        </div>
      </div>
      <div class="row omb_row-sm-offset-3">
        <div class="col-xs-12 col-sm-6">
          <form autocomplete="off" class="omb_loginForm" method="POST">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <%= f.email_field :email, autofocus: true, :class => "form-control" %>
            </div>
            <span class="help-block"></span>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-lock"></i>
              </span>
              <%= f.password_field :password, autocomplete: true, :class => "form-control" %>
            </div>
            <span class="help-block"></span>
          </form>
        </div>
      </div>
      <%= f.submit "Log in", :class => "btn btn-primary btn-block"  %>
    <% end %>
  </div>
</div>
